html {
    font-size: 10px;
}

body {
    margin: auto;
    width: 1020px;
    font-family: "Lato", sans-serif;
}

h2 {
    font-size: 30px;
    line-height: 18px;
    font-weight: 900;   
}

h3 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
}

p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}
.wrapper {
    margin: auto;
    padding: 0 40px;
}

.portfolio {
    padding: 70px 0 67px 0;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    letter-spacing: -0.2px;
}

.portfolio__title {
    margin: 0;
    margin-bottom: 26px;
    color: #666d89;
}

.portfolio__description {
    margin: 0;
    margin-bottom: 12px;
    color: #666d89;
}
.tag {
    font-size: 12px;
    line-height: 20px;
    color: #767e9e;
    font-weight: 400;
    letter-spacing: -0.2px;
    padding: 0 7px;
    margin-left: 10px;
    border: 1px solid #666d89;
    border-radius: 5px;
    box-sizing: border-box;

}
.portfolio__tags {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 19px;
}

.portfolio__tags > .tag:first-child {
    margin-left: 0;
}

.layout-4-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.about-us {
    padding: 68px 0 65px 0;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}
.about-us__title {
    margin: 0;
    margin-bottom: 27px;
    color: #666d89;
}

.about-us__description {
    margin: 0;
    margin-bottom: 46px;
    color: #767e9e;
    letter-spacing: -0.2px;
    text-align: justify;
}

.layout-3-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 38px 20px;
}
.employee * {
    margin: 0;
}

.employee__content {
    padding: 14px 0 25px 0;
}

.employee__name {
    margin-bottom: 11px;
    color: #666d89;
}

.employee__description {
    font-size: 11px;
    line-height: 21px;
    color: #767e9e;
    font-weight: 400;
    letter-spacing: -0.1px;
    word-spacing: 0.3px;
    text-align: justify;

}

.ico {
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
}

.ico_round-bordered {
    border: 1px solid #666d89;
    border-radius: 50%;
}

.employee__icons {
    display: flex;
    justify-content: flex-start;
}
.employee__icons > .ico {
    margin-left: 8px;
}
.employee__icons > .ico:first-child {
    margin-left: 0;
}

.ico-facebook {
    background-image:  url(./assets/img/social_icons/facebook.png);
}

.ico-google {
    background-image:  url(./assets/img/social_icons/google+.png);
}

.ico-twitter {
    background-image:  url(./assets/img/social_icons/twitter.png);
}

.ico-linkedin {
    background-image:  url(./assets/img/social_icons/linkedin.png);
}