html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

h1, h2, h3, p, .sub-p {
    margin: 0;
}

h1{
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 3rem;
    line-height: 1.8rem;
    font-weight: 900;   
}

h3 {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 900;
}

p {
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 300;
}

.sub-p {
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: 400;
    letter-spacing: -0.1px;
    word-spacing: 0.3px;
    text-align: justify;
}

a {
    text-decoration: none;
}

.ico {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.ico_round {
    border: 1px solid #666d89;
    border-radius: 50%;
}

.service-item__ico {
    width: 55px;
    height: 55px;
    border: 2px solid #666d89;
    border-radius: 50%;
}

.ico-pen {
    background-image: url(./assets/img/icons/pen.png);
}

.ico-lamp {
    background-image: url(./assets/img/icons/bulb.png);
}

.ico-heart {
    background-image: url(./assets/img/icons/heart.png);
}

.ico-mobile-phone {
    background-image: url(./assets/img/icons/mobile-phone.png);
}

.ico-bubble {
    background-image: url(./assets/img/icons/bubble.png);
}

.ico-star {
    background-image: url(./assets/img/icons/star.png);
}

.ico-facebook {
    background-image:  url(./assets/img/icons/facebook.png);
}

.ico-google {
    background-image:  url(./assets/img/icons/google+.png);
}

.ico-twitter {
    background-image:  url(./assets/img/icons/twitter.png);
}

.ico-linkedin {
    background-image:  url(./assets/img/icons/linkedin.png);
}

.ico-location {
    background-image: url("./assets/img/icons/location.png");
}
.ico-phone {
    background-image: url("./assets/img/icons/phone.png");
}
.ico-mail {
    background-image: url("./assets/img/icons/mail.png");
}

.tag {
    font-size: 12px;
    line-height: 20px;
    color: #767e9e;
    font-weight: 400;
    letter-spacing: -0.2px;
    padding: 0 7px;
    border: 1px solid #666d89;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.tag_selected {
    color: #dedede;
    border-color: #dedede;
}

.layout-3-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 36px 20px;
}

.services .layout-3-column {
    grid-template-columns: repeat(auto-fill, 300px);
}


.layout-4-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

  
@media (max-width: 1019px){
    .layout-4-column {
        grid-template-columns: repeat(3, 1fr);
    }

    .services .layout-3-column {
        grid-gap: 45px 53px;
    }
}

@media (max-width: 767px){
    .wrapper {
        padding: 0 30px;
    }
    .layout-4-column {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 13px;
    }
    
    .portfolio__images > img:nth-child(n + 9){
        display: none;
    }

    .services .layout-3-column {
        grid-gap: 30px;
    }
}



.wrapper {
    margin: auto;
    max-width: 1020px;
    padding: 0 40px;
    box-sizing: border-box;
}

.header {
    position: fixed;
    width: 100vw;
    z-index: 1;
    padding: 32px 0 32px 0;
    box-sizing: border-box;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    transition: top 0.5s;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;  
}

.logo {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -0.4px;
}

.text-colored {
    color: #f06c64;
}

.header__navigation {
    margin-bottom: 1px;
}

.navigation {
    margin: 0px;
    padding: 0px;
}

.navigation__link{
    display: inline;
    margin-right: 26px;
    font-size: 12px;
    line-height: 6px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: -0.2px;
    cursor: pointer;
}

.navigation__link:last-child {
    margin-right: 0px;
}

.navigation__link_selected {
    color: #f06c64;
}

.navigation__link::before {
    position: relative;
    content: '.';
    color: #ffffff;
    left: -13px;
    bottom: 3px;
}

.navigation__link:first-child::before {
    display: none;
}

.navigation__link:hover {
    color: #f06c64;
}

.navigation-mobile__logo {
    display: none;
}

.hamburger {
    position: absolute;
    left: 20px;
    display: none;
    width: 25px;
    height: 20px;
    z-index: 200;
    transition: all 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.hamburger__line {
    display: inline-block;
    position: absolute;
    height: 2.4px;
    width: 100%;
    background: #ffffff;
    border-radius: 5px;
    top: calc(50% - 1.2px);
}

.hamburger::after, .hamburger::before {
    content: '';
    position: absolute;
    display: inline-block;
    height: 2.4px;
    width: 100%;
    background: #ffffff;
    border-radius: 5px;
}

.hamburger::before {
    top: 0;
}

.hamburger::after {
    bottom: 0;
}

.rotate {
    transform: rotate(-90deg);
    transform-origin: center;
}

.menu-mobile__overflow {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    background-color: rgba(45, 48, 58, 0.6);
}

@media (max-width: 767px){
    .header__navigation {
        background-color: #2D303A;
        margin: 0;
        padding: 0;
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -100%;
        min-height: 100vh;
        overflow: hidden;
        z-index: 100;
        padding: 232px 71px 0 71px;
        transition: all 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
    }

    .header__navigation.open{
        left: 0;
        outline: 100vw solid rgba(45, 48, 58, 0.6);
    }

    .navigation {
        display: flex;
        flex-direction: column;
    }

    .navigation-mobile__logo {
        display: block;
        position: absolute;
        top: 26px;
    }

    .navigation > * {
        margin-bottom: 27px;
    }

    .navigation > *:last-child {
        margin-bottom: 0;
    }

    .navigation__link {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.035em;
    }

    .navigation__link::before {
        content: none;
    }

    .header {
        padding: 24px 0 23px 0;
    }

    .header__wrapper {
        justify-content: center;
    }

    .hamburger {
        display: block;
        margin-right: auto;
    }

    .header .logo {
        font-size: 2.0rem;
    }
}

.slider{
    padding-top: 95px;
    border-bottom: 6px solid #ea676b; 
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide__container {
    position: relative;
    width: 100%;
    height: calc(100vw * 0.58);
    max-height: 594px;
    overflow: hidden;
    margin: 0 37px;
}

.slide {
    display: none;
    position: relative;
    margin: 0 auto;
    height: 100%;
    animation: 0.5s ease-in-out;
}

.slide.active,
.slide.next {
    display: block;
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.slide__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iPhone {
    position: relative;
}

.iPhone_vertical {
    margin-right: 8%;
}

.slide__content img {
    width: 100%;
    height: auto;
}

#img_slide2 {
    width: 60%;
}

.iPhone__display {
    display: none;
    position: absolute;
    background-color: black;
}

.iPhone__display.off {
    display: block;
}

.iPhone_vertical .iPhone__display {
    width: 78%;
    height: 69%;
    top: 13.2%;
    left: 6%;
}

.iPhone_horizontal .iPhone__display {
    width: 69%;
    height: 78.5%;
    top: 5%;
    left: 12.5%;
}

.iPhone__button {
    position: absolute;
    cursor: pointer;
}

.iPhone_vertical .iPhone__button {
    width: 19%;
    height: 9%;
    left: 35%;
    bottom: 7%;
}
.iPhone_horizontal .iPhone__button {
    width: 9%;
    height: 17%;
    left: 1.5%;
    bottom: 47%;
}

.control {
    position: absolute;
    top: 0;
    bottom: 4px;
    cursor: pointer;
}

.control.left {
    left: 0;
    right: auto;
}

.control.right {
    left: auto;
    right: 0;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.arrow.right {
    right: 50%;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

@media (max-width: 1019px) {
    .slider .wrapper {
        padding: 0 30px;
    }
}

@media (max-width: 767px){
    .slider {
        padding-top: 73px;
    }
}

@media (max-width: 375px) {
    .slider .wrapper {
        padding: 0 10px;
    }
}


.services {
    padding: 68px 0 65px 0;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    scroll-margin-top: 94px;
}

.services__title {
    margin-bottom: 26px;
    line-height: 2rem;
    color: #666d89;
}

.services__text {
    margin-bottom: 46px;
    color: #767e9e;
    text-align: justify;
    letter-spacing: -0.2px;
}

.service-item{
    display: flex;
    flex-direction: row;
    width: 300px;
}

.service-item__ico {
    margin: 1px 20px 0 1px;
}

.service-item__content {
    width: 220px;
    height: 87px;
    overflow: hidden;
}

.service-item__title {
    margin-bottom: 11px;
    line-height: 1.6rem;
    color: #666d89;
}

.service-item__text {
    color: #767e9e;
}

@media (max-width: 1019px){
    .services {
        padding: 39px 0 64px 0;
    }
    .services__text{
        text-align: left;
    }
}

@media (max-width: 767px){
    .services {
        padding: 25px 0 20px 0;
        scroll-margin-top: 77px;
    }
    .services .layout-3-column {
        grid-template-columns: 300px;
    }
}

@media (max-width: 374px) {
    .services .layout-3-column {
        grid-template-columns: 1fr;
    }
    .service-item {
        width: 100%;
    }
    .service-item__content {
        width: 75%;
    }
}

.portfolio {
    padding: 69px 0 67px 0;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    /* letter-spacing: -0.2px; */
    scroll-margin-top: 94px;
}

@media (max-width: 767px){
    .portfolio {
        padding: 42px 0;
        scroll-margin-top: 77px;
    }
}

.portfolio__title {
    margin-bottom: 27px;
    color: #666d89;
}

.portfolio__text {
    margin-bottom: 11px;
    color: #666d89;
}

.portfolio__tags {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 19px;
}

.portfolio__tags > .tag {
    margin-left: 10px;
}

.portfolio__tags > .tag:first-child {
    margin-left: 0;
}

.portfolio__images > img:nth-child(n + 13){
    display: none;
}

.portfolio__images > img {
    cursor: pointer;
    width: 100%;
}

.image_selected {
    outline: solid 5px #F06C64;
    outline-offset: -5px;
}

.about-us {
    padding: 68px 0 67px 0;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    scroll-margin-top: 94px;
}
.about-us__title {
    margin-bottom: 26px;
    line-height: 2rem;
    color: #666d89;
}

.about-us__text {
    margin-bottom: 45px;
    color: #767e9e;
    letter-spacing: -0.2px;
    text-align: justify;
}

.employee {
    width: 100%;
}

.employee__photo {
    width:100%;
}

.employee__content {
    padding: 15px 0 23px 0;
}

.employee__name {
    margin-bottom: 9px;
    color: #666d89;
    overflow: hidden;
    white-space: nowrap;
}

.employee__text {
    color: #767e9e;
    text-align: justify;
}

.employee__icons {
    display: flex;
    justify-content: flex-start;
}

.employee__icons > .ico {
    margin-left: 8px;
}

.employee__icons > .ico:first-child {
    margin-left: 0;
}

@media (max-width: 1019px){

    .about-us__text {
        margin-bottom: 28px;
        text-align: left;
    }
    .about-us .layout-3-column {
        grid-gap: 15px;
    }
    .employee__content {
        padding: 12px 0 5px 0;
    }
    .employee__name {
        margin-bottom: 5px;
    }
    .about-us {
        padding: 52px 0 75px 0;
    }
}

@media (max-width: 767px){
    .about-us {
        padding: 33px 0 45px 0;
        scroll-margin-top: 77px;
    }
    .about-us__text {
        margin-bottom: 14px;
    }
    .about-us .layout-3-column {
        grid-template-columns: 300px;
        grid-gap: 34px;
    }
    .employee__content {
        padding: 18px 0 9px 0;
    }
}

@media (max-width: 374px){
    .about-us .layout-3-column {
        grid-template-columns: 1fr;
    }
}

.get-quote {
    padding: 69px 0 54px 0;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    scroll-margin-top: 94px;
}

.get-quote__title {
    margin-bottom: 25px;
    line-height: 2rem;
    color: #f0d8d9;
}

.get-quote__text {
    margin-bottom: 45px;
    color: #f0d8d9;
}

.get-quote__form {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
}


.contact-info__title {
    margin-bottom: 10px;
    word-spacing: 1px;
    color: #f0d8d9;
}

.contact-info__description {
    margin-bottom: 21px;
    color: #f0d8d9;
}

.contact {
    color: #f0d8d9;
}

.contact a {
    text-decoration: none;
    color: inherit;
}

.contact__ico {
    width: 13px;
    height: 11px;
    background-position: bottom;
    margin-right: 10px;
}

.get-quote__form > .input, .textarea {
    width: calc(100% - 1px);
    box-sizing: border-box;
}


.input, .textarea {
    padding: 5px 12px 7px 12px;
    margin-bottom: 16px;
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: 400;
    border-radius: 5px;
    border: 2px solid #d6564f;
    background-color: #d6564f;
}

.input::placeholder, .textarea::placeholder {
    color: #f48c8f;
}

.textarea {
    resize: none;
    padding-bottom: 18px;
}

.button {
    padding: 11px 47px 12px 47px;
    border-radius: 5px;
    border: none;
    font-family: "Lato", sans-serif;
    background: #FBC65F;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center; 
    color: #886A30;
    cursor: pointer;
}

.button:hover {
    background: rgb(207, 160, 64);
}

@media (max-width: 1019px){
    .get-quote {
        padding: 53px 0 39px 0;
    }
    .get-quote__text {
        margin-bottom: 19px;
    }
    .get-quote .layout-3-column {
        grid-gap: 29px;
    }
    .contact-info__description {
        margin-bottom: 12px;
    }
    .input, .textarea {
        margin-bottom: 12px;
    }
    
}

@media (max-width: 767px){
    .get-quote {
        padding: 44px 0 42px 0;
        scroll-margin-top: 77px;
    }
    .get-quote .layout-3-column {
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }
    .contact-info__description {
        margin-bottom: 12px;
    }
    .get-quote .button {
        width: 100%;
    }
}

.footer {
    padding: 22px 0 20px 0;
    background-color: #2d303a;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__text {
    margin-left: 2px;
    margin-bottom: 3px;
    color: #666d89;
    font-size: 1.1rem;
    letter-spacing: 0.3px;
}

.footer__icons > * {
    margin-left: 6px;
}

.footer__icons > *:first-child {
    margin-left: 0;
}

@media (max-width: 767px) {
    .footer__wrapper {
        justify-content: center;
    }
    .footer__text {
        display: none;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 200px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal__content {
    margin: auto;
    width: 400px;
    padding: 20px;
    background-color: #ffffff;
    font-family: "Lato", sans-serif;
    border-radius: 5px;
    max-height: 400px;
    overflow: auto;
}

.modal.active {
    display: block;
}

.modal__header {
    margin-bottom: 25px;
}

.modal__title {
    margin-bottom: 5px;
}

.modal__text {
    margin-bottom: 10px
}

.warning-bubble {
    display: none;
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    font-size: 1.25em;
    border-radius: 1rem;
    left: 100px;
}

.warning-bubble:after {
	content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 35px;
    left: 15px;
    border: 0.75rem solid transparent;
    border-bottom-color: rgba(255,255,255,0.8);
}

.warning-bubble.active {
    display: block;
}

#name-hint {
    top: 45px;
}

#email-hint {
    top: 99px;
}

#description-hint {
    bottom: 17px;
}


